* {
    margin: 0;
    padding: 0;    
}



body {
    font-family: Georgia;
    background-color: #7d4138;
}

a {
    color: #000;
    background-color: #ffd335;
    border: 1px solid #000;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
}

a:hover, a:active, a:visited {
    text-decoration: none;
}

#main {
    width: 1024px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    border: 1px solid #6d85d2;
}

form fieldset {
    border: 0;
}

form fieldset p br {
    clear: left;
}

label {
    margin-top: 5px;
    display: block;
    width: 180px;
    padding: 0;
    float: left;
}

#header {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #6d85d2;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

#navi {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #6d85d2;
    padding-bottom: 20px;
    margin-bottom: 10px;
    text-align: center;
}

input {
    font-family: Arial;
    border: 1px solid #CCC;
    margin-bottom: 5px;
    background-color: #FFF;
    padding: 2px;
}

input:hover {
    border: 1px solid #222;
    background-color: #EEE;   
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
}

tr, td {
    border: 1px solid #000;
}

#productSelectCB {
    text-align: center;
}